<nav class="navbar navbar-default navbar-btn navbar-fixed-top" style="margin-top: 0px">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="https://static.wixstatic.com/media/5e1419_d1994f030fd541d6a5978ed3a79d0f89.png/v1/fill/w_104,h_99,al_c,usm_0.66_1.00_0.01/5e1419_d1994f030fd541d6a5978ed3a79d0f89.png"
            />
        </div>
        <div id="myNavbar">
            <ul class="nav navbar-nav navbar-right">

                <li>
                    <a style="color: rgb(228, 34, 34); font-size: 15px" routerLink="/pgn">PageNotFound example</a>
                </li>
                <li>
                    <a style="color: rgb(228, 34, 34); font-size: 30px" routerLink="/team">Team</a>
                </li>
                <li>
                    <a style="color: rgb(228, 34, 34); font-size: 30px" routerLink="/home">Home</a>
                </li>



            </ul>
        </div>
    </div>
</nav>